/* index.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #0d111d;
  color: #f0f4ff;
}

a {
  text-decoration: none;
  color: #a88add;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #151a28;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar .logo {
  font-weight: 800;
  font-size: 20px;
  color: #fff;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  color: #f0f4ff;
  font-weight: 500;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #a88add;
}

.hero {
  padding: 100px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(#1c2030, #0d111d);
  flex-wrap: wrap;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
  color: #ffffff;
}

.hero-text h1 span {
  color: #a88add;
}

.hero-text p {
  margin-top: 10px;
  font-size: 16px;
  color: #cbd2e1;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: #a88add;
  color: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #7e6bc4;
}

.hero-img img {
  max-width: 300px;
  margin-top: 20px;
}

.about {
  padding: 80px 40px;
  background: #10141f;
  text-align: center;
}

.about h2 {
  font-size: 32px;
  color: #a88add;
}

.about p {
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  color: #cbd2e1;
}

.skills {
  padding: 80px 40px;
  background: #0d111d;
  text-align: center;
}

.skills h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #a88add;
}

.skill-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100px;
  transition: transform 0.3s;
}

.skill-card img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  filter: drop-shadow(0 0 5px #a88add88);
}

.skill-card span {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.skill-card:hover {
  transform: scale(1.1);
}
